body {
    margin: 0;
}

main {
padding: 5px;
}

.heading {
    height: 170px;
    background-color: rgba(78,160,255,255);
    background-image: url('../img/pattern.png');  
}

#logo {
    width: 200px;
    margin-top: 100px;
    padding-left: 1rem;
}

#maintitle {
    margin-bottom: 0;
}

#subtitle {
    margin-top: 0;
    color: #979797;
}

.clictext {
    color: #34b0e7;
}

#subtitlephotos {
    margin-top: 0;
    font-size: 10px;
}

.evidenziatore {
    background-color: yellow;
}

ul {
    
    padding-left: 0; 
    margin-left: 1rem;
}